Requests I've received

<div>
    <% @sql_result.each do |booking| %>
        <div>
            Property: <%= booking['property_name'] %><br>
            Status: <%= booking['booking_status'] %><br>
            Date requested: <%= booking['booking_date'] %><br>
            Customer: <%= booking['booker_id'] %><br>
        </div>
    <% end %>

</div>