<h2>Feel at home, anywhere</h2>
<h3>Sign up to MakersBnB</h3>
<div class="user_info_box">
  <form action="/user" method="post">
    <label for="first_name">
      First name
      <input type="text" name="first_name">
    </label>    
    <label for="last_name">
      Last name
      <input type="text" name="last_name">
    </label>    
    <label for="Email">
      Email
      <input type="text" name="email">
    </label>    
    <label for="Password">
      Password
      <input type="text" name="password">
    </label>    
    <input type="submit" value="Sign up">
  </form>
  

</div>