<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/">
          <div class="heading">
            <h1>MakersBnB &#128024;</h1>
          </div>
        </a>
        <div class="navigation">
          <% if session[:user_id] != nil %>
            <a href="/spaces"> Spaces </a> | <a href="/view-requests"> Requests </a> | <a href="/logout" > Sign out </a>
          <% else %>
            About | <a href="/sessions/new"> Log in </a>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>

</html>