<form action="/spaces/<%=@property.id%>/book" method="post">
  <label for="date">Booking date:</label>
  <input type="date" id="date" name="date"
       min="2022-06-10" max="2022-08-15">
  <input type="submit" value="Request">
</form>