<form action="/spaces/new" method='post'>
  <label for="property_name">Name:</label>
  <input name="property_name" id="property_name" type="text" />
  <label for="description">Description</label>
  <input name="description" id="description" type="text" />
  <label for="price">Price</label>
  <input type='number' min='1' name="price" id="price" />
  <label for="availability_start">Start date:</label>
  <input type="date" id="availability_start" name="availability_start"/>
  <label for="availability_end">End date:</label>
  <input type="date" id="availability_end" name="availability_end" />
  <input type="submit" value="List my Space">
</form>


<%= flash[:notice] %>
