<form action="/spaces/new" method='post'>
  <label for="property_name">Name:</label>
  <input name="property_name" id="property_name" type="text" />
  <label for="description">Description</label>
  <input name="description" id="description" type="text" />
  <label for="price">Price</label>
  <input type='number' min='1' name="price" id="price" />
  <input type="submit" value="List my Space">
</form>